/* Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.close-button  {
  text-decoration: none;
  color: #fff;
  background-color: #99a9b9;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  background-color: #b30c00;
}
.copyTarget {
  text-decoration: none;
  color: #fff;
  background-color: #99a9b9;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
.copyTarget:hover{
  background-color: #096cad;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

a:hover {
  background-color: #0056b3;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}
input{
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60%;
}